				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2>¿Dónde estamos?</h2>
                        <p>Estamos ubicados en el sector rural de la comuna de Curacautín, región de La  Araucanía, Chile.</p>
                        <div class="index align-left">

                            <!-- Text -->
                                <section>
                                    <header>
                                        <h3>Mapa</h3>
                                    </header>
                                    <div class="content">

                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6247.933229539344!2d-71.74358021292844!3d-38.465332044057455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scl!4v1701982952863!5m2!1ses!2scl" width="100%" height="600px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                                    </div>
                                </section>
                

                            
                </section>
                
